<div class="container">
  <div class="my-3">
    <div class="card border-success p-3">
      <h1 class="d-flex justify-content-center p-3">Editar liquidación</h1>
      <%= render "form", settlement: @settlement %>
    </div>
      <hr>
      <%= link_to "< Volver a la liquidación", settlement_path(@settlement), class: "btn btn-ghost" %>
  </div>
</div>
