<div class="container">
  <div class="my-3">
    <div class="card border-success p-3">
      <h1 class="d-flex justify-content-center p-3">Editar precio variable</h1>
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 lh-lg text-muted">
          <%= render "form", contract: @contract %>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <%= link_to "Volver", :back, class: "btn btn-dark" %>
</div>
