<div class="container">
  <div class="my-3">
    <div class="card border-success p-3">
      <h1 class="d-flex justify-content-center p-3">Editar propiedad</h1>
      <%= render "form", property: @property %>
    </div>
  </div>
  <hr>
  <%= link_to "Volver", :back, class: "btn btn-dark" %>
</div>
