<div class="container">
  <div class="my-3">
    <div class="card border-success p-3">
      <h1 class="d-flex justify-content-center p-3">Editar transacción</h1>
      <%= render "form", bill: @bill %>
    </div>
      <hr>
      <%= link_to "< Volver a la transacción", bill_path(@bill), class: "btn btn-ghost" %>
  </div>
</div>
